astunparse==1.6.3
attrs==25.3.0
audioread
certifi==2025.6.15
charset-normalizer==3.4.2
decorator==5.2.1
efficientnet_pytorch==0.7.1
filelock==3.18.0
fsspec==2025.5.1
gitdb==4.0.12
GitPython==3.1.44
h5py==3.14.0
idna==3.7
importlib_metadata
Jinja2
joblib
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
librosa
llvmlite==0.44.0
matplotlib==3.10.1
networkx==3.4.2
numba==0.56.4
numpy==1.23.5
packaging
pandas==2.3.0
pillow
platformdirs==4.3.8
pycparser==2.22
Pygments==2.19.2
pyparsing==3.2.3
PySoundFile==0.9.0.post1
python-dateutil
pytz==2025.2
PyYAML
referencing==0.36.2
requests
rpds-py==0.25.1
scikit-learn==1.7.0
scipy==1.15.2
seaborn==0.13.2
soundfile
soxr
streamlit==1.46.0
threadpoolctl
timm==1.0.15
torch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
tqdm==4.67.1
typing_extensions
