anyio @ file:///C:/b/abs_5c8w79vk0u/croot/anyio_1745334672105/work
astunparse==1.6.3
attrs==25.3.0
audioread @ file:///D:/bld/audioread_1725357513550/work
certifi==2025.6.15
charset-normalizer==3.4.2
decorator==5.2.1
efficientnet_pytorch==0.7.1
filelock==3.18.0
fsspec==2025.5.1
gitdb==4.0.12
GitPython==3.1.44
h5py==3.14.0
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1748019130050/work
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
librosa @ file:///home/conda/feedstock_root/build_artifacts/librosa_1741797566785/work
llvmlite==0.44.0
matplotlib==3.10.1
networkx==3.4.2
numba==0.56.4
numpy==1.23.5
packaging @ file:///C:/b/abs_3by6s2fa66/croot/packaging_1734472138782/work
pandas==2.3.0
pillow @ file:///C:/b/abs_68t826txdy/croot/pillow_1744613085333/work
platformdirs==4.3.8
pycparser==2.22
Pygments==2.19.2
pyparsing==3.2.3
PySoundFile==0.9.0.post1
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
pytz==2025.2
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
referencing==0.36.2
requests @ file:///C:/b/abs_0b3h9d_724/croot/requests_1750426345668/work
rpds-py==0.25.1
scikit-learn @ file:///D:/bld/scikit-learn_1749487700974/work/dist/scikit_learn-1.7.0-cp310-cp310-win_amd64.whl#sha256=fdc72959c36e2cbf9cc9b96302526097daa8cb78103faa111664b40090944662
scipy @ file:///C:/bld/scipy-split_1739790833536/work/dist/scipy-1.15.2-cp310-cp310-win_amd64.whl#sha256=4748853a0c723cda1fa2bdead847ba7c2443bde9cec3436e3e7243cfa54b55ff
seaborn==0.13.2
soundfile @ file:///home/conda/feedstock_root/build_artifacts/pysoundfile_1737836266465/work
soxr @ file:///D:/bld/soxr-python_1725345453434/work
streamlit==1.46.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
timm==1.0.15
torch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
tqdm==4.67.1
typing_extensions @ file:///C:/b/abs_0ffjxtihug/croot/typing_extensions_1734714875646/work
